.container {
    display: flex;
}

.col-left {
    flex: 1;
}

.col-right {
    flex: 3;
}

span .h3 {
    font-size: 3em;
}

.completed {
    border-bottom: 2px solid black;
    font-weight: bolder !important;
    color: red;
}

.f1 {
    font-size: 1em;
}

.f2 {
    font-size: 1.2em;
}

.f3 {
    font-size: 1.4em;
}

.f4 {
    font-size: 1.6em;
}

.f5 {
    font-size: 2em;
}