.container {
    display: flex;
}

.col-left {
    flex: 1;
}

.col-right {
    flex: 3;
}

span .h3 {
    font-size: 3em;
}

.completed {
    border-bottom: 2px solid black;
    font-weight: bolder !important;
    color: red;
}